* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    background-color: white;
    color: rgb(35, 35, 35);
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 255);
    color: white;
    padding: 20px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

.signup {
    font-size: 15px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.signup {
    background-color: white; 
    color: rgb(0, 0, 255);
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
}


.Heading {
    text-align: center;
    background-color: rgb(201, 205, 172);
    padding: 100px 20px;
}

.Heading h1 {
    font-size: 48px;
    color: blue;
    margin-bottom: 20px;
}

.Heading p {
    font-size: 20px;
    margin-bottom: 30px;
}


.features {
    padding: 60px 20px;
    background-color:white;
    text-align: center;
}

.feature-box {
    margin: 20px auto;
    max-width: 400px;
}

.features h2 {
    font-size: 36px;
    color: blue;
    margin-bottom: 40px;
}


.about {
    padding: 60px 20px;
    background-color: rgb(201, 205, 172);
    text-align: center;
}

.about h2 {
    font-size: 32px;
    color: blue;
    margin-bottom: 20px;
}


.contact {
    padding: 40px 20px;
    background-color: white;
    text-align: center;
}

.contact h2 {
    font-size: 32px;
    color: blue;
    margin-bottom: 10px;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: blue;
    color: white;

}